/.sbtserver
/.settings
/conf/evolutions/**
/conf/evolutions/default/**
/logs
/project/project
/project/target
/project/.sbtserver
/project/play-fork-run.sbt
/project/sbt-ui.sbt
/target
/tmp
.classpath
.project
/.idea
/.idea_modules
RUNNING_PID
