<!doctype html>
<html>
  <head>
    <title>All products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-cookies.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"  media="screen,projection">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script type="text/javascript" src="./public/js/controller/manageHomeSeller.js"></script>
    <script type="text/javascript" src="./public/js/init.js"></script>
    <script type="text/javascript" src="./public/js/app.js"></script>
  </head>
  
<body ng-app="myApp" ng-controller="manageHomeSellerCtrl">
 
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/homeSeller" class="brand-logo">GoldFish<i class="material-icons">loyalty</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="active"><a href="#">All Products</a></li>
        <li><a href="/myShop">My Shop</a></li>
        <li><a href="/mySellerAccount">My Account</a></li>
        <li><a ng-click="deconnection()" href="#">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="active"><a href="#">All Products</a></li>
        <li><a href="/myShop">My Shop</a></li>
        <li><a href="/mySellerAccount">My Account</a></li>
        <li><a ng-click="deconnection()" href="#">Logout</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container"><br/>
        <h2 class="header center orange-text">All Products !</h2><br/>
        
        
        <div class="row center">
        <div class="col s12 m8 offset-m2">
        
            <h5 class="header col s12 white-text light">Refine your search :</h5>
            
            <div class="col s12 m6">
                <input type="text" ng-model="byKeyWords" placeholder="Search by key words">
            </div>
            
            <div class="col s12 m6">
                <input type="text" ng-model="byName.name" placeholder="Search by products">
            </div>
            
            <div input-field class="col s12 m6 offset-m3"><br/>
                <select class="browser-default" name="repeatSelect" id="repeatSelect" ng-model="bySeller">
                    <option value="">All sellers</option>
                    <option ng-repeat="seller in sellers">{{seller.userName}}</option>
                </select>
            </div>
            
        </div>    
        </div><br/>
        
        
      </div>
    </div>
  <div class="parallax"><img src="./public/images/parallax-fish.jpeg" alt="parallax img fish"></div>
</div>


<div class="container">
    <div class="section">     
        <table class="highlight">
        
        <thead>
          <tr>
              <th data-field="name">Product</th>
              <th data-field="price" class="center">Price</th>
              <th data-field="description">Description</th>
          </tr>
        </thead>

        <tbody ng-repeat="seller in sellers | filter: bySeller">
          <tr ng-repeat="product in seller.products | filter: byKeyWords | filter : byName">
            <td>{{product.name}}</td>
            <td class="center">{{product.price}} €</td>
            <td>{{product.description}}</td>
          </tr>
        </tbody>
        
      </table>
    
    </div>
</div>

<div footer></div>
 

  </body>
</html>