<!doctype html>
<html>
  <head>
    <title>Users</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.5/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="./public/js/controller/manageLogin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="manageLoginCtrl">
    <div class="container">


    <p>Add Authenticater</p>
        <form ng-submit="authenticate()" class="col s12">
            <input type=text name="userName" ng-model="userName" />
            <input type=text name="mdp" ng-model="mdp" />
            <input type="submit" class="waves-effect waves-light btn">
            {{resultLogin}}
            {{dataafficher}}
            {{isConnected}}
        </form>

    <p>Deconnection</p>
        <form ng-submit="deconnection()" class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
            {{isntConnected}}
        </form>

    </div>
    
  </body>
</html>










