<!doctype html>
<html>
  <head>
    <title>Welcome</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-cookies.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"  media="screen,projection">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script type="text/javascript" src="./public/js/controller/manageLogin.js"></script>
    <script type="text/javascript" src="./public/js/init.js"></script>
  </head>
  
  <body ng-app="myApp" ng-controller="manageLoginCtrl">
 
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">GoldFish<i class="material-icons">loyalty</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Login</a></li>
        <li><a href="/newUserAccount">Create a simple account</a></li>
        <li><a href="#">Create a seller account</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Login</a></li>
        <li><a href="#">Create a simple account</a></li>
        <li><a href="#">Create a seller account</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!-- Banner to create an account -->
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container"><br/>
        <h1 class="header center orange-text">Welcome !</h1>
        <div class="row center">
            <h5 class="header col s12 white-text light">GoldFish ? What is it ?</h5>
            <h5 class="header col s12 white-text light">You have just to create an account to discover the application !</h5>
        </div><br/>
        <div class="row center">
            <a href="/newUserAccount" class="btn-large waves-effect waves-light orange">Create a simple account</a>
        </div>
        <div class="row center">
            <a href="http://materializecss.com/getting-started.html" class="btn-large waves-effect waves-light orange">Create a seller account</a>
        </div>
      </div>
    </div>
  <div class="parallax"><img src="./public/images/parallax-fish.jpeg" alt="parallax img fish"></div>
</div>
<!-- end -->

<!-- Section invite to create an account -->
  <div class="container">
    <div class="section">    
            <div class="row center">
            <h5 class="header col s12 light">You have already an account ? </h5>
        </div>
        <div class="row center">
        <div class="col l6 m6 s12 offset-l3 offset-m3">
            <h5  class="header center orange-text">Please login !</h5>
            <form ng-submit="authenticate()" class="col s12">
                <input type=text name="userName" ng-model="userName" />
                <input type=text name="mdp" ng-model="mdp" />
                <input type="submit" class="btn-large waves-effect waves-light orange"><br><br>
                <!--{{resultLogin}}
                {{dataafficher}}-->
                {{isConnected}}
            </form>
        </div>
        <!--<div class="col l6 m6 s12">
            <h5  class="header col s12 light">Deconnection</h5>
            <form ng-submit="deconnection()" class="col s12">
                <input type="submit" class="waves-effect waves-light btn">
                {{isntConnected}}
            </form>
        </div>-->
        </div>

    </div>
</div>

 
<footer class="page-footer orange">
    <div class="footer-copyright">
      <div class="container">
      Made by Geoffray Faustine, Beulé Jérémy, Bordessoules Emmeran et Zaho Shui
      </div>
    </div>
</footer>
  
  
 
  </body>
</html>










