<!doctype html>
<html>
  <head>
    <title>Manage User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="./public/js/controller/manageUser.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="manageUserCtrl">

<div class="container">
<h3>Create an user</h3>
<div class="row">
    <form ng-submit="createUser()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>FirstName : </label>
   		<input type="text" name="firstname" ng-model="firstname" />
    </div>
    <div class="col s12 m6">
        <label>Surname : </label>
       	<input type="text" name="surname" ng-model="surname" />
    </div>
    <div class="col s12 m6">
       	<label>Email : </label>
       	<input type="email" name="email" ng-model="email" required />
    </div>
    <div class="col s12 m6">
       	<label>Password : </label>
       	<input type="password" name="password" ng-model="password" required />
    </div>
    <div class="col s12 m6">
       	<label>Phone number : </label>
       	<input type="tel" name="tel" ng-model="mobile" />
    </div>
    <div class="col s12">
       	<label>Address : </label>
       	<input type="text" name="address" ng-model="adress" />
    </div>
    <div class="col s12 m6">
       	<label>Postal Code : </label>
       	<input type="text" name="postalCode" ng-model="postalCode" />
    </div>
    <div class="col s12 m6">
       	<label>City : </label>
       	<input type="text" name="city" ng-model="city" />
    </div>
   	<div class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
        {{ result }}
    </div></div>
    </form>
</div>

<h3>Delete an user</h3>
<div class="row">
    <form method="post" name="formDeletion" action="UserController" class="col s12">
    <div class="row">
    <div class="col s12">
	    <label>Id User : </label>
   		<input type="number" name="idDeletion" id="idDeletion" />
   	</div>
   	<div class="col s12">
   	    <INPUT TYPE="button"  class="waves-effect waves-light btn" NAME="bouton" VALUE="DELETE" onClick="deletion(formDeletion)">
   	</div>
    </div>
    </form>
</div>

<h3>Update an user</h3>
<div class="row">
    <form method="post" name="formUpdateUser" action="UserController" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>Id User</label>
        <input type="number" name="id" id="id" />
    </div>
    <div class="col s12 m6">
        <label>Firstname</label>
        <input type="text" name="firstname" id="firstnameUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Surname</label>
        <input type="text" name="Surname" id="surnameUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Password</label>
            <input type="password" name="mdp" id="mdpUpdate"/>
    </div>
    <div class="col s12 m6">
        <label>Phone</label>
        <input type="tel" name="mobile" id="mobileUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Date of birth</label>
        <input type="date" name="dateOfBirth" id="dateOfBirthUpdate"/>
    </div>
    <div class="col s12">
        <label>Adress</label>
        <input type="text" name="address" id="addressUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Postal code</label>
        <input type="text" name="postalCode" id="postalCodeUpdate" />
    </div>
    <div class="col s12 m6">
        <label>City</label>
        <input type="text" name="city" id="cityUpdate" />
    </div>
    <div class="col s12">
    <INPUT TYPE="button" class="waves-effect waves-light btn" NAME="bouton" VALUE="UPDATE" onClick="Update(formUpdateUser)">
    </div></div>
</form>
</div>
    
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </body>
</html>

