<!doctype html>
<html>
  <head>
    <title>Manage Seller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="./public/js/controller/manageSeller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="manageSellerCtrl">

<div class="container">

<h3> Create Seller </h3>

<div class="row">
    <form ng-submit="createSeller()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>User name : </label>
   		<input type="text" name="userName" placeholder="the name you wan't to use to loggin" ng-model="userName" />
    </div>
    <div class="col s12 m6">
        <label>FirstName : </label>
   		<input type="text" name="firstname" ng-model="firstname" />
    </div>
    <div class="col s12 m6">
        <label>Lastname : </label>
   		<input type="text" name="lastname" ng-model="lastname" />
    </div>
    <div class="col s12 m6">
        <label>Password : </label>
   		<input type="password" name="password" ng-model="password" />
    </div>
    <div class="col s12 m6">
        <label>Email : </label>
   		<input type="text" name="email" ng-model="email" />
    </div>
    <div class="col s12 m6">
        <label>mobile : </label>
   		<input type="text" name="mobile" ng-model="mobile" />
    </div>
    <div class="col s12 m6">
        <label>address : </label>
   		<input type="text" name="address" ng-model="address" />
    </div>
    <div class="col s12 m6">
        <label>postalCode : </label>
   		<input type="text" name="postalCode" ng-model="postalCode" />
    </div>
    <div class="col s12 m6">
        <label>City : </label>
   		<input type="text" name="city" ng-model="city" />
    </div>
    <div class="col s12 m6">
        <label>Siret : </label>
   		<input type="text" name="siret" ng-model="siret" />
    </div>
    <div class="col s12 m6">
        <label>UrlWeb : </label>
   		<input type="text" name="urlweb" ng-model="urlweb" />
    </div>
    <div class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
        {{ resultCreate }}
    </div></div>
    </form>
</div>

<h3>Deletion Seller</h3>
<div class="row">
    <form ng-submit="deleteSeller()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>Seller id : </label>
   		<input type="number" name="idDeletion" ng-model="idDeletion" />
    </div>
   <div class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
        {{ resultDelete }}
    </div>
    </div>
    </form>
</div>

<h3>Update Seller</h3>
<div class="row">
    <form ng-submit="updateSeller()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>Seller id : </label>
   		<input type="number" name="idUpdate" ng-model="idUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Firstname : </label>
   		<input type="text" name="firstnameUpdate" ng-model="firstnameUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Lastname : </label>
   		<input type="text" name="lastnameUpdate" ng-model="lastnameUpdate" />
    </div>
        <div class="col s12 m6">
        <label>Email : </label>
   		<input type="text" name="emailUpdate" ng-model="emailUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Password : </label>
   		<input type="password" name="passwordUpdate" ng-model="passwordUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Phone : </label>
   		<input type="tel" name="mobileUpdate" ng-model="mobileUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Address : </label>
   		<input type="text" name="addressUpdate" ng-model="addressUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Postal code : </label>
   		<input type="text" name="postalcodeUpdate" ng-model="postalcodeUpdate" />
    </div>
    <div class="col s12 m6">
        <label>City : </label>
   		<input type="text" name="cityUpdate" ng-model="cityUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Siret : </label>
   		<input type="text" name="siretUpdate" ng-model="siretUpdate" />
    </div>
    <div class="col s12 m6">
        <label>URL web : </label>
   		<input type="text" name="urlwebUpdate" ng-model="urlwebUpdate" />
    </div>
   <div class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
        {{ resultUpdate }}
    </div>
    </div>
    </form>
</div>


<h3>Create Produt and add to Seller</h3>
<div class="row">
    <form ng-submit="createProductToSeller()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>Seller id : </label>
   		<input type="number" name="idSellerToProduct" ng-model="idSellerToProduct" />
    </div>
    <div class="col s12 m6">
        <label>Product Reference : </label>
   		<input type="text" name="ref" ng-model="ref" />
    </div>
    <div class="col s12 m6">
        <label>Product name : </label>
   		<input type="text" name="productName" ng-model="productName" />
    </div>
    <div class="col s12 m6">
        <label>Product Price : </label>
   		<input type="number" name="price" ng-model="price" />
    </div>
    <div class="col s12 m6">
        <label>Product quantity : </label>
   		<input type="number" name="quantity" ng-model="quantity" />
    </div>
    <div class="col s12 m6">
        <label>Product description : </label>
   		<input type="text" name="description" ng-model="description" />
    </div>
   <div class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
        {{ resultAddProducttoSeller }}
    </div>
    </div>
    </form>
</div>


</div>
</body>
</html>