<!doctype html>
<html>
  <head>
    <title>Manage User</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="./public/js/controller/manageUser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="manageUserCtrl">

<div class="container">

<h3>Create an user</h3>
<div class="row">
    <form ng-submit="createUser()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>FirstName : </label>
   		<input type="text" name="firstname" ng-model="firstname" />
    </div>
    <div class="col s12 m6">
        <label>Lastname : </label>
       	<input type="text" name="lastname" ng-model="lastname" />
    </div>
    <div class="col s12 m6">
       	<label>Email : </label>
       	<input type="email" name="email" ng-model="email" required />
    </div>
    <div class="col s12 m6">
       	<label>Password : </label>
       	<input type="password" name="password" ng-model="password" required />
    </div>
    <div class="col s12 m6">
       	<label>Phone number : </label>
       	<input type="tel" name="tel" ng-model="mobile" />
    </div>
    <div class="col s12 m6">
       	<label>Address : </label>
       	<input type="text" name="address" ng-model="address" />
    </div>
    <div class="col s12 m6">
       	<label>Postal Code : </label>
       	<input type="text" name="postalCode" ng-model="postalCode" />
    </div>
    <div class="col s12 m6">
       	<label>City : </label>
       	<input type="text" name="city" ng-model="city" />
    </div>
   	<div class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
        {{ resultCreate }}
    </div></div>
    </form>
</div>

<h3>Delete an user</h3>
<div class="row">
    <form ng-submit="deleteUser()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
	    <label>Id User : </label>
   		<input type="number" name="idDeletion" ng-model="idDeletion" required />
   	</div>
   	</div>
   	<div class="row">
   	<div class="col s12 m6">
   	    <input type="submit"  class="waves-effect waves-light btn">
   	    {{ resultDelete }}
   	</div>
    </div>
    </form>
</div>

<h3>Update an user</h3>
<div class="row">
    <form ng-submit="updateUser()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>Id User</label>
        <input type="number" name="idUpdate" ng-model="idUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Firstname</label>
        <input type="text" name="firstnameUpdate" ng-model="firstnameUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Lastname</label>
        <input type="text" name="lastnameUpdate" ng-model="lastnameUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Password</label>
            <input type="password" name="passwordUpdate" ng-model="passwordUpdate"/>
    </div>
    <div class="col s12 m6">
       	<label>Email : </label>
       	<input type="email" name="emailUpdate" ng-model="emailUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Phone</label>
        <input type="tel" name="mobileUpdate" ng-model="mobileUpdate" />
    </div>
    <div class="col s12">
        <label>Adress</label>
        <input type="text" name="addressUpdate" ng-model="addressUpdate" />
    </div>
    <div class="col s12 m6">
        <label>Postal code</label>
        <input type="text" name="postalCodeUpdate" ng-model="postalCodeUpdate" />
    </div>
    <div class="col s12 m6">
        <label>City</label>
        <input type="text" name="city" ng-model="cityUpdate" />
    </div>
    <div class="col s12">
    <INPUT TYPE="submit" class="waves-effect waves-light btn">
    {{ resultUpdate }}
    </div>
    </div>
</form>
</div>
    
    
</div>
  </body>
</html>

