<!doctype html>
<html>
  <head>
    <title>Manage Seller</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script type="text/javascript" src="./public/js/controller/manageSeller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  </head>
  <body ng-app="myApp" ng-controller="manageSellerCtrl">

<div class="container">


<SCRIPT LANGUAGE="javascript">

function creation(formCreationSeller) {

function deletion(formDeletion) {
alert("deletion")
var id 	= document.getElementById("idDeletion").value;

   $.ajax({
   				url : '/seller/'+id, // La ressource ciblé
                type : 'DELETE', // Le type de la requête HTTP.
            });

}

function Update(formUpdateSeller) {
alert("ici")
var id 	        = document.getElementById("id").value;
var firstname 	= document.getElementById("firstnameUpdate").value;
var lastname	 = document.getElementById("surnameUpdate").value;
var password 	= document.getElementById("mdpUpdate").value;
var mobile 		= document.getElementById("mobileUpdate").value;
var address 	= document.getElementById("addressUpdate").value;
var postalCode 	= document.getElementById("postalCodeUpdate").value;
var city	 	= document.getElementById("cityUpdate").value;
var siret       = document.getElementById("siretUpdate").value;
var urlweb      = document.getElementById("urlwebUpdate").value;

alert("la")

   $.ajax({
   				url : '/seller/'+id, // La ressource ciblé
                type : 'PUT', // Le type de la requête HTTP.
                data : { firstname : firstname, lastname : lastname, password : password, mobile : mobile, address : address, postalCode : postalCode, city : city,
                    urlweb : urlweb, siret :siret},
            });

}

function creationProduct(fromCreationProduct){

var id 	        = document.getElementById("idSeller").value; 
var ref 	    = document.getElementById("ref").value;
var name	 	= document.getElementById("name").value;
var price 		= document.getElementById("price").value;
var qty 	    = document.getElementById("qty").value;
var desc 		= document.getElementById("desc").value;
alert("merde 1")

   $.ajax({
   				url : '/seller/'+id+'/product', // La ressource ciblé
                type : 'POST', // Le type de la requête HTTP.
                data : { ref : ref, name : name, price : price, qty : qty, desc : desc},
            });

};



</SCRIPT>

<h3> Create Seller </h3>

<div class="row">
    <form ng-submit="createSeller()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>FirstName : </label>
   		<input type="text" name="firstname" ng-model="firstname" />
    </div>
    <div class="col s12 m6">
        <label>Lastname : </label>
   		<input type="text" name="lastname" ng-model="lastname" />
    </div>
    <div class="col s12 m6">
        <label>Email : </label>
   		<input type="text" name="email" ng-model="email" />
    </div>
    <div class="col s12 m6">
        <label>mobile : </label>
   		<input type="text" name="mobile" ng-model="mobile" />
    </div>
    <div class="col s12 m6">
        <label>address : </label>
   		<input type="text" name="address" ng-model="address" />
    </div>
    <div class="col s12 m6">
        <label>postalCode : </label>
   		<input type="text" name="postalCode" ng-model="postalCode" />
    </div>
    <div class="col s12 m6">
        <label>City : </label>
   		<input type="text" name="city" ng-model="city" />
    </div>
    <div class="col s12 m6">
        <label>Siret : </label>
   		<input type="text" name="siret" ng-model="siret" />
    </div>
    <div class="col s12 m6">
        <label>UrlWeb : </label>
   		<input type="text" name="urlweb" ng-model="urlweb" />
    </div>
    <div class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
        {{ resultCreate }}
    </div></div>
    </form>
</div>

<h3>Deletion Seller</h3>
<div class="row">
    <form ng-submit="deleteSeller()" class="col s12">
    <div class="row">
    <div class="col s12 m6">
        <label>Seller id : </label>
   		<input type="number" name="idDeletion" ng-model="idDeletion" />
    </div>
   <div class="col s12">
        <input type="submit" class="waves-effect waves-light btn">
        {{ resultDelete }}
    </div>
    </div>
    </form>
</div>

<p>Update Seller</p>

<form method="post" name="formUpdateSeller" action="SellerController">
   <input type="number" name="id" id="id" />
   <input type="text" name="firstname" id="firstnameUpdate" />
   <input type="text" name="Surname" id="surnameUpdate" />
   <input type="password" name="mdp" id="mdpUpdate"/>
   <input type="tel" name="mobile" id="mobileUpdate" />
   <input type="text" name="address" id="addressUpdate" />
   <input type="text" name="postalCode" id="postalCodeUpdate" />
   <input type="text" name="city" id="cityUpdate" />
   <input type="text" name="siret" id="siretUpdate" />
   <input type="text" name="urlweb" id="urlwebUpdate"/>
   <input TYPE="button" NAME="bouton" VALUE="UPDATE" onClick="Update(formUpdateSeller)">
</form>

<p>Create Produt and add to user<p>

<form method="post" name="fromCreationProduct" action="SellerController">
   <input type="number" name="idSeller" id="idSeller" />
   <input type="text" name="ref" id="ref" />
   <input type="text" name="name" id="name" />
   <input type="text" name="price" id="price" />
   <input type="number" name="qty" id="qty"/>
   <input type="text" name="desc" id="desc" />
   <INPUT TYPE="button" NAME="bouton" VALUE="CREATE" onClick="creationProduct(fromCreationProduct)">
</form>
