<!doctype html>
<html>
  <head>
    <title>My shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-cookies.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"  media="screen,projection">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script type="text/javascript" src="./public/js/controller/manageHomeSeller.js"></script>
    <script type="text/javascript" src="./public/js/init.js"></script>
    <script type="text/javascript" src="./public/js/app.js"></script>
  </head>
  
<body ng-app="myApp" ng-controller="manageHomeSellerCtrl">
 
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/homeSeller" class="brand-logo">GoldFish<i class="material-icons">loyalty</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">All Shops</a></li>
        <li class="active"><a href="#">My Shop</a></li>
        <li><a href="/mySellerAccount">My Account</a></li>
        <li><a ng-click="deconnection()" href="#">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">All Shops</a></li>
        <li class="active"><a href="#">My Shop</a></li>
        <li><a href="/mySellerAccount">My Account</a></li>
        <li><a ng-click="deconnection()" href="#">Logout</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container"><br/>
        <h1 class="header center orange-text">{{userName}}'s Shop</h1>
        <div class="row center">
            <h5 class="header col s12 white-text light">Welcome to your shop !</h5>
            <h5 class="header col s12 white-text light">Here you can manage all your products,</h5>
            <h5 class="header col s12 white-text light">Create, update and delete !</h5>
        </div><br/>
        <!-- Modal Trigger -->
        <div class="row center">
            <a class="btn-large waves-effect waves-light orange" href="#createProduct">Add a new product</a>
        </div>
      </div>
    </div>
  <div class="parallax"><img src="./public/images/parallax-fish.jpeg" alt="parallax img fish"></div>
</div>



<div class="container">
    <div class="section">  
    
    <div class="row">
        
        <div class="col s12 m12">

            <div class="col s12 m6" ng-repeat="product in products">
                <div class="card blue lighten-5">
                    <div class="card-content">
                        <span class="card-title">{{product.ref}} - {{product.name}}</span>
                        <p>Price : {{product.price}} €</p>
                        <p>Quantity : {{product.availableQuantity}}</p>
                        <p>Quantity : {{product.description}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Update</a>
                        <a href="#" ng-click="deleteProduct()">Delete</a>
                    </div>
                </div>
            </div>

          
        </div>
        
    </div>
        
        
    </div>
</div>


  <!-- Modal Structure -->
  <div id="createProduct" class="modal">
    <div class="modal-content">
      <h4>Add a new product</h4><br/>
        <div class="row">
        <form ng-submit="createProductToSeller()" class="col s12">
            <div class="col s12 m6">
                <label>Reference*</label>
                <input type="text" name="ref" ng-model="ref" />
            </div>
            <div class="col s12 m6">
                <label>Name*</label>
                <input type="text" name="productName" ng-model="productName" />
            </div>
            <div class="col s12 m6">
               	<label>Price*</label>
               	<input type="number" name="price" ng-model="price" aria-label="amount" />
            </div>
            <div class="col s12 m6">
                <label>Quantity*</label>
                <input type="number" name="quantity" ng-model="quantity" />
            </div>
            <div class="col s12 m6">
                <label>Description</label>
                <input type="text" name="description" ng-model="description" />
            </div>
            <div class="row center">
                <div class="col s12"><br/>
                    <input type="submit" value="Submit" class="btn-large waves-effect waves-light orange">
                </div>
            </div>
        </form>
        </div>
    </div>
  </div>



<div footer></div>
 

  </body>
</html>