<!doctype html>
<html>
  <head>
    <title>My account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.5/angular-cookies.min.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css"  media="screen,projection">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script type="text/javascript" src="./public/js/controller/manageHomeUser.js"></script>
    <script type="text/javascript" src="./public/js/init.js"></script>
    <script type="text/javascript" src="./public/js/app.js"></script>
  </head>
  
<body ng-app="myApp" ng-controller="manageHomeUserCtrl">
 
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">GoldFish<i class="material-icons">loyalty</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Shop</a></li>
        <li><a href="#">My journals</a></li>
        <li class="active"><a href="#">My account</a></li>
        <li><a ng-click="deconnection()" href="#">Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Shop</a></li>
        <li><a href="#">My journals</a></li>
        <li class="active"><a href="#">My account</a></li>
        <li><a ng-click="deconnection()" href="#">Logout</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>



<div class="container">
    <div class="section">   
    
        <div class="row center">
        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="medium material-icons">perm_identity</i></h2>
            <h5 class="center">Personal informations</h5>
                <ul>
                    <li> Username : {{userName}} </li>
                    <li class="light"> Firstname : {{firstname}} </li>
                    <li class="light"> Lastname : {{lastname}} </li>
                    <li class="light"> Phone : {{mobile}} </li>
                    <li class="light"> Email : {{email}} </li>
                </ul>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="medium material-icons">room</i></h2>
            <h5 class="center">Address</h5>
                <ul>
                    <li> Address : {{address}} </li>
                    <li class="light"> {{postalCode}} {{city}}</li>
                </ul>
          </div>
        </div>
        </div>
        
        <div class="row center">
        <div class="col s12">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="medium material-icons">credit_card</i></h2>
            <h5 class="center">Orders</h5>
            <p class="light">No order yet</p>
          </div>
        </div>
        </div>
        
    </div>
</div>



<div footer></div>
 

  </body>
</html>